<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <div class="phone">
  <cdk-virtual-scroll-viewport itemSize="50" style="border: 4px solid black;">
    <li *cdkVirtualFor="let p of people;" class="animated slideInRight">
      <h3>  {{ p.name }} </h3>
      <p>   {{ p.bio }} </p>
    </li>
  </cdk-virtual-scroll-viewport>
</div>
</div>

<div style="position:relative;text-align: center">
<h2>Quick pdf preview.</h2>
<label for="file">Press to load:</label>
<input type="file" value="new" (change)="onFileSelected()" id="file" style="color:white;visibility: hidden">

<div class="pdf-container" style="min-height: 600px;">
  <pdf-viewer  [src]="this.src"
              [original-size]="false"
  ></pdf-viewer>
</div>

</div>

<section>
  <div class="wave wave0"></div>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
</section>

<div style="font-size:12px;width:300px;left:50%;margin-left:-110px;position: absolute;padding: 100px 0;"> Copyright {{ copyright }} r. </div>
<router-outlet></router-outlet>
